* {
  margin: 0;
}

.fondo-gris {
  background-color: rgb(53,58,64) !important;  
}

.fondo-verde_claro {
  background-color: rgb(150,201,62) !important;
  border-color: rgb(150,201,62) !important;
}

.fondo-azul_degradado {
  background: linear-gradient(to right, rgb(29,62,81), rgb(29,82,113) );  
}

.fondo-azul_degradado a.nav-link {
  color: white;
}

.fondo-azul_degradado a.nav-link:hover {
  color: black !important;
}
.fondo-transparente {
  background-color: #0000007e;
}

.text-sub-pun {
  text-decoration: underline dotted;
}

main {
	min-height: 33rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;	
	margin-bottom: 1rem;
}

main #nav-intro {
  height: 550px;  
  font-weight: bold;
  background: center/cover no-repeat url(../ima/ba1.jpg);
}

main #nav-lugar_y_fecha p.card-text {
  font-size: .9rem;
}

main #nav-oradores div.card {
  width: 20rem;
}


